<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Tài Khoản
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Tài khoản
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Table -->
				<div class="row">
					<div class="col-xl-12 col-lg-12">
					
						<div th:include="/admin/fragments/admin-notification"></div>
						
						<!-- Check Product -->
						<div style="display: inline-block">
							<th:block th:if="${#lists.isEmpty(accountList)}">
								<h3 style="line-height: inherit; margin-bottom: 0">Không Có Tài Khoản Nào!</h3>
							</th:block>
						</div>
						<!-- /Check Product -->
						
						<!-- Table Heading-->
						<div class="button btn-add">
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/admin/account/new')">
								<i class="fa fa-plus"></i>
								<span> Thêm 1 tài khoản mới </span>
							</button>
						</div>
						<!-- /Table Heading -->
						
						<!-- DataTables -->
						<th:block th:unless="${#lists.isEmpty(accountList)}">
							<div class="table-responsive">
								<table id="dataTable" class="table table-bordered table-hover">
									<thead class="thead-dark">
										<tr>
											<th scope="col">Id</th>
											<th scope="col">Tài khoản</th>
											<th scope="col">Mật khẩu</th>
											<th scope="col">Họ tên</th>
											<th scope="col">Giới tính</th>
											<th scope="col">Số điện thoại</th>
											<th scope="col">Email</th>
											<th scope="col">Ngày sinh</th>
											<th scope="col">Active</th>
											<th scope="col">Quyền</th>
											<th scope="col">Sửa</th>
											<th scope="col">Xóa</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="account : ${accountList}">
											<td th:text="*{accountId}"></td>
											<td th:text="*{username}"></td>
											<td th:text="*{password}"></td>
											<td th:text="*{accountFullName}"></td>
											<td th:text="*{accountSex}"></td>
											<td th:text="*{accountPhone}"></td>
											<td th:text="*{accountEmail}"></td>
											<td th:text="*{accountBirthday}"></td>
											<td th:text="*{acctive}"></td>
											<td th:text="*{accountRole}"></td>
											<td>
												<a th:href="@{/admin/account/edit/{accountId}(accountId=${account.accountId})}">
													<i class="fa fa-edit"></i>
												</a>
											</td>
											<td>
												<a th:href="@{/admin/account/delete/{accountId}(accountId=${account.accountId})}">
													<i class="fa fa-trash-o"></i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</th:block>
						<!-- /DataTables -->
						
					</div>
					
				</div>	
				<!-- /Table -->

			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
