<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Thêm 1 Người Dùng Mới
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}"> Trang chủ</a>
							</li>
							
							<li xmlns:th="http://www.thymeleaf.org">
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin/account/list}"> Tài khoản</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Thêm 1 tài khoản mới
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Form -->
                <div class="row">
                    <div class="col-xl-12">
                        <form action="#" th:action="@{/admin/account/new/save}" th:object="${account}" method="POST">
                            <div class="form-group">
								<label>Tài khoản: </label> 
								<input class="form-control" th:field="*{username}" />   
							</div>

                            <div class="form-group">
                                <label>Mật khẩu: </label>
                                <input class="form-control" th:field="*{password}" />
                            </div>
                            
                            <div class="form-group">
                                <label>Họ tên: </label>
                                <input class="form-control" th:field="*{accountFullName}" />
                            </div>
                            
                            <div class="form-group">
                                <label>Giới tính:</label>
                                <select class="form-control" th:field="*{accountSex}">
                                    <option value="Nam">Nam</option>
                                    <option value="Nữ">Nữ</option>
                                    <option value="Khác">Khác</option>
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label>Số điện thoại: </label>
                                <input class="form-control" th:field="*{accountPhone}" />
                            </div>
                            
                            <div class="form-group">
                                <label>Email: </label>
                                <input class="form-control" th:field="*{accountEmail}" />
                            </div>
                            
                            <div class="form-group">
                                <label>Ngày sinh: </label>
                                <input class="form-control" th:field="*{accountBirthday}" />
                            </div>
                            
                            <div class="form-group">
                                <input type="hidden" class="form-control" th:field="*{accountRole}" />
                            </div>
                            
                            <br />
                            <div class="btn-center">
                            	<button type="submit" class="btn btn-dark btn-width"> 
                            		Lưu 
                            	</button>
                            	<button type="button" class="btn btn-dark btn-width" th:onclick="location.assign('/account/list')"> 
                            		Hủy 
                            	</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Form -->
                
			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
