<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Blank Page <small>Subheading</small>
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Blank Page
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->

			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
