<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Thương Hiệu
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Thương hiệu
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Table -->
				<div class="row">
					<div class="col-xl-12 col-lg-12">
					
						<div th:include="/admin/fragments/admin-notification"></div>
						
						<!-- Check Product -->
						<div style="display: inline-block">
							<th:block th:if="${#lists.isEmpty(manufacturers)}">
								<h3 style="line-height: inherit; margin-bottom: 0">Không Có Thương Hiệu Nào!</h3>
							</th:block>
						</div>
						<!-- /Check Product -->
						
						<!-- Table Heading-->
						<div class="button btn-add">
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/admin/manufacturer/new')">
								<i class="fa fa-plus"></i>
								<span> Thêm 1 thương hiệu mới </span>
							</button>
						</div>
						<!-- /Table Heading -->
						
						<!-- DataTables -->
						<th:block th:unless="${#lists.isEmpty(manufacturers)}">
							<div class="table-responsive">
								<table id="dataTable" class="table table-bordered table-hover">
									<thead class="thead-dark">
										<tr>
											<th scope="col">Id</th>
											<th scope="col">Tên</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="manufacturer: ${manufacturers}">
											<td th:text="${manufacturer.manufacturerId}"></td>
											<td th:text="${manufacturer.manufacturerName}"></td>
											<td>
												<a th:href="@{/admin/manufacturer/edit/{manufacturerId}
													(manufacturerId=${manufacturer.manufacturerId})}">Sửa</a>
												|
												<a th:href="@{/admin/manufacturer/delete/{manufacturerId}
													(manufacturerId=${manufacturer.manufacturerId})}"
													onclick="return confirm ('Bạn có chắc chắn xóa không?')">Xóa
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</th:block>
						<!-- /DataTables -->
						
					</div>
					
				</div>	
				<!-- /Table -->

			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
