<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Chỉnh Sửa Thương Hiệu
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin/manufacturer/list}">Thương hiệu</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Chỉnh sửa thương hiệu
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Form -->
                <div class="row">
                    <div class="col-xl-12">
                        <form action="#" th:action="@{/admin/manufacturer/edit/save}" th:object="${manufacturer}" method="POST">
                            <div class="form-group">
								<label>Mã thương hiệu: </label> 
								<input class="form-control" th:field="*{manufacturerId}" readonly="readonly"/>   
							</div>

                            <div class="form-group">
                                <label>Tên thương hiệu: </label>
                                <input class="form-control" th:field="*{manufacturerName}" />
                            </div>
                            
                            <br />
                            <div class="btn-center">
                            	<button type="submit" class="btn btn-dark btn-width"> 
                            		Lưu 
                            	</button>
                            	<button type="button" class="btn btn-dark btn-width" th:onclick="location.assign('/admin/manufacturer/list')"> 
                            		Hủy 
                            	</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Form -->
                
			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
