<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Chỉnh Sửa Hình Ảnh
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin/product/list}">Sản phẩm</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Chỉnh sửa hình ảnh
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Form -->
                <div class="row">
                    <div class="col-xl-12">
                        <form action="#" th:action="@{/admin/product/image/edit/save}" th:object="${image}" method="POST" 
                        	enctype="multipart/form-data">

                            <div class="form-group">
                                <label for="exampleInputFile">File: </label>
                                <input type="file" name="file" class="form-control-file" id="exampleInputFile">
                                <br />
                                <img alt="image" th:src="@{/img/product/{image}(image=${image.imageName})}" width="150">
                            </div>
                            
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" th:field="${image.imageStatus}" />Trạng thái
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" th:field="${image.imageMain}" />Ảnh chính
                                </label>
                            </div>
                            
                            <br />
                            
                            <div class="btn-center">
                            	<button type="submit" class="btn btn-dark btn-width"> 
                            		Lưu
                            	</button>
                            	
                            	<input type="hidden" th:field="${image.product.productId}" />
                            	<input type="hidden" th:field="${image.imageId}" />
                            	
                            	<button type="button" class="btn btn-dark btn-width" th:onclick="location.assign('/admin/product/list')"> 
                            		Hủy
                            	</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Form -->
                
			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
