<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Hình Ảnh 
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin/product/list}">Sản phẩm</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Hình ảnh
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Table -->
				<div class="row">
					<div class="col-xl-12 col-lg-12">
					
						<div th:include="/admin/fragments/admin-notification"></div>
						
						<!-- Check Product -->
						<div style="display: inline-block">
							<th:block th:if="${#lists.isEmpty(images)}">
								<h3 style="line-height: inherit; margin-bottom: 0">Không Có Hình Ảnh Nào!</h3>
							</th:block>
						</div>
						<!-- /Check Product -->
						
						<!-- Table Heading-->
						<div class="button btn-add">
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/admin/product/list')">
								<i class="fa fa-reply"></i>
								<span> Quay lại trang sản phẩm </span>
							</button>
						</div>
						<!-- /Table Heading -->
						
						<!-- DataTables -->
						<th:block th:unless="${#lists.isEmpty(images)}">
							<div class="table-responsive">
								<table id="dataTable" class="table table-bordered table-hover">
									<thead class="thead-dark">
										<tr>
											<th scope="col">Id</th>
											<th scope="col">Hình ảnh</th>
											<th scope="col">Trạng thái</th>
											<th scope="col">Ảnh chính</th>
											<th scope="col">Action</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="image : ${images}">
											<td th:text="${image.imageId}"></td>
											<td>
												<img alt="image" th:src="@{/img/product/{image}(image=${image.imageName})}" width="150" height="150">
											</td>
											<td th:text="${image.imageStatus ? 'Hiện' : 'Ẩn'}"></td>
											<td th:text="${image.imageMain ? 'Ảnh chính' : ''}"></td>
											<td>
												<a th:href="@{/admin/product/image/{imageId}/edit(imageId=${image.imageId})}">Sửa</a>
												|
												<a th:href="@{/admin/product/{productId}/image/{imageId}/delete(productId=${image.product.productId}, imageId=${image.imageId})}"
													onclick="return confirm ('Bạn có chắc chắn xóa không?')">Xóa
												</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</th:block>
						<!-- /DataTables -->
						
					</div>
					
				</div>	
				<!-- /Table -->

			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
