<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Thêm 1 sản phẩm mới
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin/product/list}">Sản phẩm</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Thêm 1 sản phẩm mới
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->
				
				<!-- Form -->
                <div class="row">
                    <div class="col-xl-12">
                        <form action="#" th:action="@{/admin/product/save}" th:object="${product}" method="POST">

                            <div class="form-group">
                                <label>Tên sản phẩm: </label>
                                <input class="form-control" th:field="${product.productName}" required="required" />
                            </div>
                            
                            <div class="form-group">
                                <label>Mô tả sản phẩm: </label>
                                <textarea class="form-control" name="motasp" rows="5" id="motasp"  th:field="${product.productDescription}" required="required"></textarea>
                            </div>

                            <div class="form-group">
                                <label>Kích thước: </label>
                                <input class="form-control" placeholder="Ví dụ: S, M, L v.v" th:field="${product.productSize}" required="required" />
                            </div>
                            
                            <div class="form-group">
                                <label>Giá: </label>
                                <input class="form-control" th:field="${product.productPrice}" required="required" />
                            </div>
                            
                            <div class="form-group">
                                <label>Số lượng: </label>
                                <input class="form-control" th:field="${product.productQuantity}" required="required" />
                            </div>

                            <div class="form-group">
                                <label>Danh mục: </label>
                                <select class="form-control" th:field="${product.category}" required="required">
                                    <option th:each="category : ${categories}"
                                    	th:value="${category.categoryId}"
                                    	th:text="${category.categoryName}" />
                                </select>
                            </div>

                            <div class="form-group">
                                <label>Thương Hiệu: </label>
                                <select class="form-control" th:field="${product.manufacturer}" required="required">
                                    <option th:each="manufacturer : ${manufacturers}"
                                    	th:value="${manufacturer.manufacturerId}"
                                    	th:text="${manufacturer.manufacturerName}" />
                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" th:field="${product.productStatus}" />Trạng thái
                                </label>
                            </div>
                            <div class="form-group">
                                <label class="checkbox-inline">
                                    <input type="checkbox" th:field="${product.productFeatured}" />Featured
                                </label>
                            </div>
                            <br />
                            <div class="btn-center">
                            	<button type="submit" class="btn btn-dark btn-width"> 
                            		Lưu 
                            	</button>
                            	<button type="button" class="btn btn-dark btn-width" th:onclick="location.assign('/admin/product/list')"> 
                            		Hủy 
                            	</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /Form -->
                
			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
