<!DOCTYPE html>
<html lang="vi" xmlns:th="http://www.thymeleaf.org">

<div th:include="admin/fragments/admin-head"></div>

<body>

	<!-- wrapper -->
	<div id="wrapper">

		<div th:include="/admin/fragments/admin-header"></div>
		
		<!-- page-wrapper -->
		<div id="page-wrapper">
		
			<!-- container-fluid -->
			<div class="container-fluid">

				<!-- Page Heading -->
				<div class="row">
					<div class="col-lg-12">
						<h1 class="page-header">
							Sản Phẩm 
						</h1>
						<ol class="breadcrumb">
							<li>
								<i class="fa fa-dashboard"></i> 
								<a th:href="@{/admin}">Trang chủ</a>
							</li>
							
							<li class="active">
								<i class="fa fa-file"></i> Sản phẩm
							</li>
						</ol>
					</div>
				</div>
				<!-- /Page Heading -->

				<!-- Table -->
				<div class="row">
					<div class="col-xl-12 col-lg-12">
					
						<div th:include="/admin/fragments/admin-notification"></div>
						
						<!-- Check Product -->
						<div style="display: inline-block">
							<th:block th:if="${#lists.isEmpty(products)}">
								<h3 style="line-height: inherit; margin-bottom: 0">Không có sản phẩm nào!</h3>
							</th:block>
						</div>
						<!-- /Check Product -->
						
						<!-- Table Heading-->
						<div class="button btn-add">
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/admin/product/new')">
								<i class="fa fa-plus"></i>
								<span> Thêm 1 sản phẩm mới </span>
							</button>
							
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/api/v1/admin/products/downloads/excel')">
								<i class="fa fa-download"></i>
								<span> Xuất file Excel </span>
							</button>
							
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/api/v1/admin/products/downloads/csv')">
								<i class="fa fa-download"></i>
								<span> Xuất file CSV </span>
							</button>
							
							<button type="button" class="btn btn-secondary" th:onclick="location.assign('/api/v1/admin/products/downloads/word')">
								<i class="fa fa-download"></i>
								<span> Xuất file Word </span>
							</button>
						</div>
						<!-- /Table Heading -->
						
						<!-- DataTables -->
						<th:block th:unless="${#lists.isEmpty(products)}">
							<div class="table-responsive">
								<table id="dataTable" class="table table-bordered table-hover">
									<thead class="thead-dark">
										<tr>
											<th scope="col">Id</th>
											<th scope="col">Tên sản phẩm</th>
											<th scope="col">Mô tả sản phẩm</th>
											<th scope="col">Kích thước</th>
											<th scope="col">Giá</th>
											<th scope="col">Số lượng</th>
											<th scope="col">Danh mục</th>
											<th scope="col">Nhà cung cấp</th>
											<th scope="col">Trạng thái</th>
											<th scope="col">Featured</th>
											<th scope="col">Hành Động</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="product : ${products}">
											<td th:text="${product.productId}"></td>
											<td>
												<p th:text="${product.productName}" class="line-to-show" ></p>
											</td>
											<td style="max-width: 300px">
												<div class="line-to-show">
													<th:block th:utext="${product.productDescription}"></th:block>
												</div>
											</td>
											<td>
												<p th:text="${product.productSize}" class="line-to-show"></p>
											</td>
											<td th:text="${product.productPrice}"></td>
											<td th:text="${product.productQuantity}"></td>
											<td th:text="${product.category.categoryName}"></td>
											<td th:text="${product.manufacturer.manufacturerName}"></td>
											<td th:text="${product.productStatus ? 'Hiện' : 'Ẩn'}"></td>
											<td th:text="${product.productFeatured ? 'Mới' : ''}"></td>
											<td>
												<a th:href="@{/admin/product/edit/{productId}(productId=${product.productId})}">Sửa</a>
												|
												<a th:href="@{/admin/product/delete/{productId}(productId=${product.productId})}"
													onclick="return confirm ('Bạn có chắc chắn xóa không?')">Xóa
												</a>
												|
												<a th:href="@{/admin/product/{productId}/image/list(productId=${product.productId})}">Ảnh</a>
												|
												<a th:href="@{/admin/product/{productId}/image/add(productId=${product.productId})}">Thêm ảnh</a>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</th:block>
						<!-- /DataTables -->
						
					</div>
					
				</div>	
				<!-- /Table -->
				
			</div>
			<!-- /container-fluid -->

		</div>
		<!-- /page-wrapper -->

	</div>
	<!-- /wrapper -->

	<div th:include="/admin/fragments/admin-footer"></div>

</body>

</html>
