<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="admin-head">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>ADMIN QB-SHOP</title>

	<!-- Bootstrap Core CSS -->
	<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom CSS -->
	<link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link th:href="@{/admin/css/style.css}" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link th:href="@{/admin/css/plugins/morris.css}" rel="stylesheet">
	
	<!-- Page level plugin CSS-->
	<link th:href="@{/admin/css/dataTables.bootstrap4.css}" rel="stylesheet">

	<!-- Custom Fonts -->
	<link th:href="@{/admin/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<!-- wrapper -->
	<div id="wrapper">
	
		<!-- Navigation -->
		<nav th:fragment="admin-header" class="navbar navbar-dark bg-inverse navbar-fixed-top">
		
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button class="navbar-toggler hidden-sm-up pull-sm-right" type="button" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">&#9776;
				</button>
				<a class="navbar-brand" th:href="@{/admin/index}">QB-SHOP</a>
			</div>
			
			<!-- Top Menu Items -->
			<ul class="nav navbar-nav top-nav navbar-right pull-xs-right">
				
				<li class="nav-item buy-now">
                    <a th:href="@{/shopping}" class="btn btn-primary-outline buy-now-btn" role="button" style="padding: .375rem 1rem !important; border-color: #999;">Trang Shopping</a>
                </li>
				
				<li class="dropdown nav-item">
					<a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownMenu4" data-toggle="dropdown" 
						aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-envelope"></i> 
						<b class="caret"></b>
						<span class="sr-only">(current)</span>
					</a>
					
					<ul class="dropdown-menu message-dropdown">
						<li class="dropdown-item message-preview">
							<a href="javascript:;">
								<div class="media">
									<span class="media-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>Quang Bùi</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						
						<li class="dropdown-item message-preview">
							<a href="javascript:;">
								<div class="media">
									<span class="media-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>John Smith</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						
						<li class="dropdown-item message-preview">
							<a href="javascript:;">
								<div class="media">
									<span class="media-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>John Smith</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						
						<li class="dropdown-item message-footer">
							<a href="javascript:;">Read All New Messages</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown nav-item">
					<a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
						aria-expanded="false">
						<i class="fa fa-bell"></i>
						<b class="caret"></b>
						<span class="sr-only">(current)</span>
					</a>
					
					<ul class="dropdown-menu alert-dropdown">
						<li class="dropdown-item">
							<a href="javascript:;">Thêm tin tức 
								<span class="label label-default"> Dream Hotel</span>
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">Thêm user 
								<span class="label label-primary"> User</span>
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">Thêm tin tức 
								<span class="label label-success">Dream Hotel</span>
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">Thêm user 
								<span class="label label-primary"> User</span>
							</a>
						</li>
						
						<li class="dropdown-divider"></li>
						
						<li class="dropdown-item">
							<a href="javascript:;">View All </a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown nav-item">
					<a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i> Quang Bùi 
						<b class="caret"></b>
					</a>
					
					<ul class="dropdown-menu">
					
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-user"></i> Profile
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-envelope"></i> Inbox
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-gear"></i> Settings
							</a>
						</li>
						
						<li class="divider"></li>
						
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-power-off"></i> Log Out
							</a>
						</li>
					</ul>
				</li>
			</ul>
			
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
			
				<ul class="nav navbar-nav side-nav list-group">
				
					<li class="list-group-item">
						<a th:href="@{/}">
							<i class="fa fa-fw fa-dashboard"></i> Trang chủ
						</a>
					</li>
					
					<li class="list-group-item">
						<a href="javascript:;" data-toggle="collapse" data-target="#qlsp">
							<i class="fa fa-fw fa-clipboard"></i> Quản Lý Sản Phẩm 
							<i class="fa fa-fw fa-caret-down"></i>
						</a>
						
						<ul id="qlsp" class="list-group collapse">
							<li class="list-group-item">
								<a th:href="@{/product/list}">Sản Phẩm</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/product/addnew}">Thêm Sản Phẩm</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/supplier/list}">Nhà Cung Cấp</a>
							</li>
							
							<!-- <li class="list-group-item">
								<a th:href="@{/category/list}">Danh mục</a>
							</li> -->
						</ul>
					</li>
					
					<li class="list-group-item">
						<a href="javascript:;"m data-toggle="collapse" data-target="#qltk">
							<i class="fa fa-fw fa-user"></i> Quản Lý Tài khoản 
							<i class="fa fa-fw fa-caret-down"></i>
						</a>
						
						<ul id="qltk" class="list-group collapse">
							<li class="list-group-item">
								<a th:href="@{/user/list}">Tài Khoản</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/address/list}">Địa Chỉ</a>
							</li>
						</ul>
					</li>
					
				</ul>
				
			</div>
			
		</nav>
		<!-- /.navbar-collapse -->
		
		<!-- Notification -->
		<div th:fragment="notification" th:if="${success}" class="alert alert-success alert-dismissible">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<span th:text="${success}"></span>
		</div>
		<!-- /Notification -->
		
		<li th:fragment="admin-trangchu">
			<i class="fa fa-dashboard"></i> 
			<a th:href="@{/}">Trang chủ</a>
		</li>

	</div>
	<!-- /#wrapper -->
	
	<footer th:fragment="admin-footer">
		<!-- jQuery -->
		<script th:src="@{/admin/js/jquery.js}"></script>
		

		<!-- Bootstrap Core JavaScript -->
		<script th:src="@{/admin/js/bootstrap.min.js}"></script>

		<!-- Morris Charts JavaScript -->
		<!-- <script th:src="@{/admin/js/plugins/morris/raphael.min.js}"></script>
		<script th:src="@{/admin/js/plugins/morris/morris.min.js}"></script>
		<script th:src="@{/admin/js/plugins/morris/morris-data.js}"></script> -->
		
		<!-- Page level plugin JavaScript-->
		<script th:src="@{/admin/js/jquery.dataTables.js}"></script>
		<script th:src="@{/admin/js/dataTables.bootstrap4.js}"></script>
		
		<!-- CKEditor-->
		<script th:src="@{/admin/ckeditor/ckeditor.js}"></script>
		<script>
			CKEDITOR.replace('motasp', {});
			
			var content = CKEDITOR.instances.motasp.getData();
		</script>
		
		<script type="text/javascript">

			<!-- Data Table -->
			$(document).ready(function() {
				$('#dataTable').DataTable({
					columnDefs : [ {
						targets : [ 0 ],
						orderData : [ 0, 1 ]
					}, {
						targets : [ 1 ],
						orderData : [ 1, 0 ]
					}, {
						targets : [ 4 ],
						orderData : [ 4, 0 ]
					} ]
				});
			});
		
			<!-- Upload File Image -->
			$(document).ready(function () {
				$('#fileInput').on('change', function () {
					var file = $(this)[0].files[0];
				$('.js-file').remove();
					var fileReader = new FileReader();
					fileReader.onload = function () {
						var str = '<div class="js-file">' +
							'<br><img class="js-file-image" style="width: 100px; height: 100px">' +
							'</div>';
						$('.js-file-list').append(str);

						var imageSrc = event.target.result;
						$('.js-file-image').attr('src', imageSrc);
					};
					fileReader.readAsDataURL(file);
				});
			});
			
		</script>
	</footer>

</body>

</html>
