<head xmlns:th="http://www.thymeleaf.org">
	<meta charset="UTF-8">
	<meta name="description" content=" Divisima | Mua Hàng Trực Tuyến Uy Tín với Giá Rẻ">
	<meta name="keywords" content="divisima, eCommerce, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Divisima | Mua Hàng Trực Tuyến Uy Tín với Giá Rẻ</title>

	<!-- Favicon -->
	<link th:href="@{/img/favicon.ico}" rel="shortcut icon"/>

	<!-- Google Font -->
	<link th:href="@{https://fonts.googleapis.com/css?family=Josefin+Sans:300,300i,400,400i,700,700i}" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/flaticon.css}"/>
	<link rel="stylesheet" th:href="@{/css/slicknav.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}"/>
	<link rel="stylesheet" th:href="@{/css/animate.css}"/>
	<link rel="stylesheet" th:href="@{/css/style.css}"/>


	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>