<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:include="/fragments/head"></div>

<body>


	<div th:include="/fragments/header"></div>


	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a th:href="@{/}">Home</a> /
				<a href="">Your cart</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<form action="@{/cart/update}">
					<div class="col-lg-8">
						<div class="cart-table">
							<h3>Giỏ Hàng</h3>
							<div class="cart-table-warp">
								<table>
									<thead>
										<tr>
											<th class="product-th">Sản Phẩm</th>
											<th class="quy-th">Số Lượng</th>
											<th class="size-th">Kích Thước</th>
											<th class="total-th">Số Tiền</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="item : ${session.cart.prop}" th:unless="${session == null}">
												<td class="product-col">
													<!-- <img th:src="@{'/img/product/' + ${item.image}" alt="image"> -->
													<div class="pc-title">
														<!-- <h4 th:text="${item.productName}"></h4>
														<p th:text="${item.productPrice}"></p>
														<a th:href="@{/cart/delete/{productId}}"></a> -->
													</div>
												</td>
												<td class="quy-col">
													<div class="quantity">
								                        <div class="pro-qty">
															<input type="number" name="quantities" th:value="${item.productQuantity}">
														</div>
			                    					</div>
												</td>
												<td class="size-col">
													<!-- <h4 th:text="${item.productSize}"></h4> -->
												</td>
												<td class="total-col">
													<!-- <h4 th:text="${item.productPrice * item.productQuantity}"></h4> -->
												</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="total-cost">
								<button type="submit" ></button>
								<h6>Tổng tiền <span th:text="${total}"></span></h6>
							</div>
						</div>
					</div>
				</form>
				<div class="col-lg-4 card-right">
					<form class="promo-code-form">
						<input type="text" placeholder="Enter promo code">
						<button>Nhập</button>
					</form>
					<a href="" class="site-btn">Đặt Hàng</a>
					<a href="" class="site-btn sb-dark">Tiếp tục Mua hàng</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>Tiếp Tục Mua Hàng</h2>
			</div>
			<div class="row">
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<div class="tag-new">New</div>
							<img src="./img/product/2.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Black and White Stripes Dress</p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/5.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/9.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6">
					<div class="product-item">
						<div class="pi-pic">
							<img src="./img/product/1.jpg" alt="">
							<div class="pi-links">
								<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>$35,00</h6>
							<p>Flamboyant Pink Top </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Related product section end -->


	<div th:include="/fragments/footer"></div>
	

	</body>
</html>
