<!DOCTYPE html>
<html lang="en"  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up Form by Colorlib</title>

    <!-- Font Icon -->
    <link rel="stylesheet" th:href="@{/login/fonts/material-icon/css/material-design-iconic-font.min.css}">

    <!-- Main css -->
    <link rel="stylesheet" th:href="@{/login/css/style.css}">
</head>
<body>
    <div class="main">

        <!-- Sign up form -->
        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="register-form" th:action="@{/register}" th:object="${registrationForm}">
                            <div class="ui negative message" th:if="${#fields.hasErrors('*')}">
					            <p></p>
					        </div>
                            <div class="form-group">
                                <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="name" id="name" placeholder="Your Name" th:field="*{name}" th:errorclass="fieldError" required="required"/>
                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:style="'color:red'"></span>
                            </div>
                            <div class="form-group">
                                <label for="email"><i class="zmdi zmdi-email"></i></label>
                                <input type="email" name="email" id="email" placeholder="Your Email" th:field="*{email}" th:errorclass="fieldError" required="required"/>
                                <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" th:style="'color:red'"></span>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber"><i class="zmdi zmdi-lock-outline"></i></label>
                                <input type="text" name="phoneNumber" id="phoneNumber" placeholder="Your Phone Number" th:field="*{phoneNumber}" th:errorclass="fieldError" required="required"/>
                                <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}" th:style="'color:red'"></span>
                            </div>
                            <div class="form-group">
                                <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="pass" id="pass" placeholder="Password" th:field="*{password}" th:errorclass="fieldError" required="required"/>
								<span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" th:style="'color:red'"></span>
                            </div>
                            <div class="form-group">
                                <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
                                <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signup" id="signup" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img th:src="@{/login/images/signup-image.jpg}" alt="sing up image"></figure>
                        <a th:href="@{/login}" class="signup-image-link">I am already member</a>
                        <a th:href="@{/}" class="signup-image-link">Back home</a>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- JS -->
    <script th:src="@{/login/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/login/js/main.js}"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>