.btn-center{
	text-align: center;
}

.btn-width{
	width: 13%;
	margin: 0 10px;
}

.btn-add{
	display: inline-block;
	float: right;
	margin-bottom: 15px;
}

.thead-dark th{
    color:#fff;
    background-color:#343a40;
    border-color:#454d55
}

.line-to-show{
  display: block; /* Fallback for non-webkit */
  display: -webkit-box;
  max-width: 400px;
  /* height: $font-size*$line-height*$lines-to-show; */ /* Fallback for non-webkit */
  margin: 0 auto;
  /* font-size: $font-size; */
  /* line-height: $line-height; */
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .text-container {
    position: relative;
    display: block;
    color: #838485;
    width: 24em;
    height: calc(2em + 5px);
    overflow: hidden;
    white-space: normal;
}

.text-content {
  word-break: break-all;
  position: relative;
  display: block;
  max-height: 3em;
}

.ellipsis {
  position: absolute;
  right: 0;
  top: calc(4em + 2px - 100%);
  text-align: left;
  background: white;
} */