<head xmlns:th="http://www.thymeleaf.org">

	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Divisima | Trang Quản Lý</title>

	<!-- Bootstrap Core CSS -->
	<link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">

	<!-- Custom CSS -->
	<link th:href="@{/admin/css/sb-admin.css}" rel="stylesheet">
	
	<!-- Custom CSS -->
	<link th:href="@{/admin/css/style.css}" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link th:href="@{/admin/css/plugins/morris.css}" rel="stylesheet">
	
	<!-- Page level plugin CSS-->
	<link th:href="@{/admin/css/dataTables.bootstrap4.css}" rel="stylesheet">

	<!-- Custom Fonts -->
	<link th:href="@{/admin/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>