	<!-- jQuery -->
	<script th:src="@{/admin/js/jquery.js}"></script>
		

	<!-- Bootstrap Core JavaScript -->
	<script th:src="@{/admin/js/bootstrap.min.js}"></script>

	<!-- Page level plugin JavaScript-->
	<script th:src="@{/admin/js/jquery.dataTables.js}"></script>
	<script th:src="@{/admin/js/dataTables.bootstrap4.js}"></script>
		
	<!-- CKEditor-->
	<script th:src="@{/admin/ckeditor/ckeditor.js}"></script>
	<script>
		CKEDITOR.replace('motasp', {});
			
		var content = CKEDITOR.instances.motasp.getData();
	</script>
		
	<script type="text/javascript">

		<!-- Data Table -->
		$(document).ready(function() {
			$('#dataTable').DataTable({
				columnDefs : [ {
					targets : [ 0 ],
					orderData : [ 0, 1 ]
				}, {
					targets : [ 1 ],
					orderData : [ 1, 0 ]
				}, {
					targets : [ 4 ],
					orderData : [ 4, 0 ]
				} ]
			});
		});
		
		<!-- Upload File Image -->
		$(document).ready(function () {
			$('#fileInput').on('change', function () {
				var file = $(this)[0].files[0];
			$('.js-file').remove();
				var fileReader = new FileReader();
				fileReader.onload = function () {
					var str = '<div class="js-file">' +
						'<br><img class="js-file-image" style="width: 100px; height: 100px">' +
						'</div>';
					$('.js-file-list').append(str);

					var imageSrc = event.target.result;
					$('.js-file-image').attr('src', imageSrc);
				};
				fileReader.readAsDataURL(file);
			});
		});
			
	</script>