		<!-- Navigation -->
		<nav class="navbar navbar-dark bg-inverse navbar-fixed-top" xmlns:th="http://www.thymeleaf.org">
		
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button class="navbar-toggler hidden-sm-up pull-sm-right" type="button" data-toggle="collapse"
					data-target=".navbar-ex1-collapse">&#9776;
				</button>
				<a class="navbar-brand" th:href="@{/admin}">Divisima</a>
			</div>
			
			<!-- Top Menu Items -->
			<ul class="nav navbar-nav top-nav navbar-right pull-xs-right">
				
				<li class="nav-item buy-now">
                    <a th:href="@{/}" class="btn btn-primary-outline buy-now-btn nav-link" role="button" style="padding: .375rem 1rem !important; border-color: #999;">Trang Shopping</a>
                </li>
				
				<li class="dropdown nav-item">
					<a class="nav-link dropdown-toggle" href="javascript:;" id="dropdownMenu4" data-toggle="dropdown" 
						aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-envelope"></i> 
						<b class="caret"></b>
						<span class="sr-only">(current)</span>
					</a>
					
					<ul class="dropdown-menu message-dropdown">
						<li class="dropdown-item message-preview">
							<a href="javascript:;">
								<div class="media">
									<span class="media-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>Quang Bùi</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						
						<li class="dropdown-item message-preview">
							<a href="javascript:;">
								<div class="media">
									<span class="media-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>John Smith</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						
						<li class="dropdown-item message-preview">
							<a href="javascript:;">
								<div class="media">
									<span class="media-left">
										<img class="media-object" src="http://placehold.it/50x50" alt="">
									</span>
									<div class="media-body">
										<h5 class="media-heading">
											<strong>John Smith</strong>
										</h5>
										<p class="small text-muted">
											<i class="fa fa-clock-o"></i> Yesterday at 4:32 PM
										</p>
										<p>Lorem ipsum dolor sit amet, consectetur...</p>
									</div>
								</div>
							</a>
						</li>
						
						<li class="dropdown-item message-footer">
							<a href="javascript:;">Read All New Messages</a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown nav-item">
					<a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" 
						aria-expanded="false">
						<i class="fa fa-bell"></i>
						<b class="caret"></b>
						<span class="sr-only">(current)</span>
					</a>
					
					<ul class="dropdown-menu alert-dropdown">
						<li class="dropdown-item">
							<a href="javascript:;">Thêm tin tức 
								<span class="label label-default"> Dream Hotel</span>
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">Thêm user 
								<span class="label label-primary"> User</span>
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">Thêm tin tức 
								<span class="label label-success">Dream Hotel</span>
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">Thêm user 
								<span class="label label-primary"> User</span>
							</a>
						</li>
						
						<li class="dropdown-divider"></li>
						
						<li class="dropdown-item">
							<a href="javascript:;">View All </a>
						</li>
					</ul>
				</li>
				
				<li class="dropdown nav-item">
					<a href="javascript:;" class="nav-link dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-user"></i> Quang Bùi 
						<b class="caret"></b>
					</a>
					
					<ul class="dropdown-menu">
					
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-user"></i> Profile
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-envelope"></i> Inbox
							</a>
						</li>
						
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-gear"></i> Settings
							</a>
						</li>
						
						<li class="divider"></li>
						
						<li class="dropdown-item">
							<a href="javascript:;">
								<i class="fa fa-fw fa-power-off"></i> Log Out
							</a>
						</li>
					</ul>
				</li>
			</ul>
			
			<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
			<div class="collapse navbar-collapse navbar-toggleable-sm navbar-ex1-collapse">
			
				<ul class="nav navbar-nav side-nav list-group">
				
					<li class="list-group-item">
						<a th:href="@{/admin}">
							<i class="fa fa-fw fa-dashboard"></i> Trang chủ
						</a>
					</li>
					
					<li class="list-group-item">
						<a href="javascript:;" data-toggle="collapse" data-target="#qlsp">
							<i class="fa fa-fw fa-clipboard"></i> Quản Lý Sản Phẩm 
							<i class="fa fa-fw fa-caret-down"></i>
						</a>
						
						<ul id="qlsp" class="list-group collapse">
							<li class="list-group-item">
								<a th:href="@{/admin/product/list}">Sản Phẩm</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/admin/product/new}">Thêm Sản Phẩm</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/admin/category/list}">Danh Mục</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/admin/manufacturer/list}">Thương Hiệu</a>
							</li>
						</ul>
					</li>
					
					<li class="list-group-item">
						<a href="javascript:;" data-toggle="collapse" data-target="#qltk">
							<i class="fa fa-fw fa-user"></i> Quản Lý Tài khoản 
							<i class="fa fa-fw fa-caret-down"></i>
						</a>
						
						<ul id="qltk" class="list-group collapse">
							<li class="list-group-item">
								<a th:href="@{/admin/account/list}">Tài Khoản</a>
							</li>
							
							<li class="list-group-item">
								<a th:href="@{/admin/address/list}">Địa Chỉ</a>
							</li>
						</ul>
					</li>
					
				</ul>
				
			</div>
			
		</nav>
		<!-- /.navbar-collapse -->